@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.main-nav li a.active {
  color: #654a9b;
}
.font-raleway {
  font-family: "Raleway", sans-serif;
}
.dropdown-body.open {
  display: block;
}
.title-h2 {
  font-size: 48px;
  line-height: 48px;
  color: #210545;
  font-weight: 500;
}
